extends: default
rules:
  document-start: disable
  line-length: disable
  truthy:
    allowed-values: ["true", "false", "on"]
  comments:
    min-spaces-from-content: 1
ignore: |
  .yamllint
  local/
  operators/vault-secrets-operator/Chart.yaml
  operators/vault-secrets-operator/crds/
  operators/vault-secrets-operator/templates/
  operators/vault-secrets-operator/values.yaml
  rendered/
  rendered-ci/
